header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display: inline-block; */
    /* background-color: red; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ID styling */
#LogoVerticalText {
    position: relative;
    color: rgb(72, 255, 0);
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 10px;
    opacity: 0;
    animation: fadeOut 5s linear;
}

#LogoUpHorizontalText {
    color: rgb(0, 81, 255);
    position: absolute;
    transform: scaleX(2) rotateY(0deg) rotate(40deg) translate(50px, 20px);
    letter-spacing: 20px;
    opacity: 0;
    animation: fadeOut 5s linear;

}

#A {
    position: relative;
    top: -34%;
    color: white;
    opacity: 0;
    animation: fadeOut 5s linear;
}

#Big {
    position: absolute;
    transform: scale(5) translate(0px, 0px);
    animation: scaleUp 5s cubic-bezier(1, -0.23, 0, 1.15);
}

#LogoBrainiac {
    position: absolute;
    filter: drop-shadow(0px 0px 9px rgb(0, 0, 0));
    transform: translate(-30px, 90px);
    animation: translateLeft 5s linear;
}

/* animations */
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(5);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes translateLeft {
    0% {
        transform: translate(10px, 90px);
    }

    100% {
        transform: translate(-30px, 90px);
        
    }
}