body{
    background-color:#181a1b;
}

header{
    color: black;
    text-align: center;
    background-color: white;
    /* border-radius: 20px; */
}

footer {
    color: white;
    background-color: rgb(81, 81, 81);
    border-radius: 20px;
    text-align: center;
    /* grid layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content-text{
    color: white;
    font-size: larger;
}

.marquee-box{
    color: white;
    border-style: solid;
}