/* CSS for project 4 

Colors

Primary brand color

Secondary brand color

Button, CTA color

Font choices


Bold titles

Regular text

Links

Headings

Subheadings

*/


/* box model fix */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Micro clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

img {
	max-width: 100%;
}
* { margin: 0; padding: 0; }


/* Global style rules */

/* Type hierarchy styling */

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 { 

}

h6 {

}

a {
    /* background-color: red; */
}


/* Homepage Styles */

/* About Us Styles */


/* Header Styles */
header nav {
    background-color: #000;
    color: #fff;
    padding: 1em;
}





/* .navbar-toggler {
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler-icon {
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
} */

/* .navbar-toggler span {
    margin: 0;
    padding: 0;
} */

/* .toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
} */
/* Footer Styles */
