/* CSS for project 4 

Colors

White 
#FFFFFF;

light brown
#DBCC93;

dirty grey
#A8A492;

dirty brown
#756E56;

dirt
#423C23;

brown
#332C11;

black
#000000;

Font choices:
Red Hat Display

Hero Title
color: #FFFFFF;
text-align: center;
font-family: Red Hat Display;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;

Regular text

Links

Headings

Subheadings

*/


/* box model fix */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Micro clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

img {
	max-width: 100%;
}
* { margin: 0; padding: 0; }


/* Global style rules */

/* Type hierarchy styling */

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 { 

}

h6 {

}

a {
    /* background-color: red; */
}


/* Homepage Styles */

/* About Us Styles */


/* Header Styles */
header nav {
    background-color: #332C11;
    /* color: #fff; */
    /* padding: 1em; */
}
.header-links {
    text-decoration: underline;
    white-space: nowrap; /* Prevents wrapping to a new line */
}

.header-links a {
    display: inline;
    text-decoration: underline;
    color: #FFFFFF;
    padding: 0 0px; /* Optional: Adjusts spacing around links */
}

.header-links a:hover {
    color: #DBCC93;
}

.header-links a:active {
    color: #A8A492;
}

.call-us{
    width: 178px;
    height: 36px;
    background-image: url(../images/CallNow.png);
    background-color: red;
}

.offcanvas-header{
    background-color: #332C11;
    height: 67px;
}

.offcanvas-footer{
    background-color: #332C11;
    height: 67px;
    width: max-content;
}




/* media queries for header */
@media screen and (min-width: 992px) {
    .offcanvas{
        display: none;
    }

   
    
}

@media screen and (max-width: 991px) {
    body > header > nav > div > a > img{
        width: 58px;
        height: 40px;
        flex-shrink: 0;
    }

    body > header > nav > div > div:nth-child(2){
        display: none;
    }

     /* call-us header */
     body > header > nav > div > div.call-us.col-lg-1 {
        display: none;
    }
}






/* .navbar-toggler {
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler-icon {
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
} */

/* .navbar-toggler span {
    margin: 0;
    padding: 0;
} */

/* .toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
} */
/* Footer Styles */
