
.arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    animation: growAndCurve 5s infinite;
  }
  
  .arrow::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  @keyframes growAndCurve {
    0%, 100% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(99vw) rotate(0);
    }
    50% {
      transform: translateX(99vw) rotate(180deg);
    }
    75% {
      transform: translateX(0) rotate(180deg);
    }
  }
  
  

.wheel {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    border: 5px solid black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* background: url('wheel.png') no-repeat center; Add a wheel image background */
    background-size: contain;
    animation: spin infinite 5s linear; /* Adjust the spinning speed by changing 5s to another duration */
  }

  .wheel > span {
    text-align: center;
    position: relative;
    top: 40px;
    left: 40px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  