/* Author: Max Schafer, Course: DESN 340 */
/* Knowledge Knockout styling*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Foldit:wght@700&family=Grandstander&family=Kanit:wght@100&family=Tomorrow:ital,wght@0,100;0,200;0,500;0,800;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,900&display=swap');

/* element specific styling */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e71f82;
}

header {
  background-color: red;
}

body > header > div > img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: -50px;
  padding-bottom: 100px;
  font-family: 'Grandstander', cursive;
  
}

/* class styling */

.header-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
}

.quiz {
  max-width: 400px;
  margin: auto;
  text-align: left;
  padding: 20px;
  border: 10px solid #ccc;
  border-radius: 5px;
  background-color: rgb(83, 14, 116);
  color: white;
  font-family: 'Grandstander', cursive;
}

.question p {
  margin: 0 0 10px 0;
}

.feedback {
  display: none;
  margin-top: 10px;
}

.correct:checked ~ .correct-feedback {
  display: block;
  color: green;
}

.wrong:checked ~ .wrong-feedback {
  display: block;
  color: red;
}
