/* Author: Max Schafer, Course: DESN 340 */
/* Knowledge Knockout styling*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Foldit:wght@700&family=Grandstander&family=Kanit:wght@100&family=Tomorrow:ital,wght@0,100;0,200;0,500;0,800;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,900&display=swap');

/* element specific styling */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #300b4e;
}

header {
  background-color: #e71f82;
  padding-bottom: 50px;
}

body > header > div > img {
  max-width: 100%;
  height: auto;
  margin-bottom: 55px;
}

h1 {
  margin: -124px;
  margin-left: -3%;
  padding-bottom: 108px;
  font-family: 'Grandstander', cursive;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Grandstander', cursive;
}

hr {
  border: 5px solid #e71f82;
  border-radius: 5px;
}

/* class styling */
.header-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
}

.quiz {
  width: 400px;
  margin: auto;
  text-align: left;
  padding: 20px;
  border: 10px solid #e71f82;
  border-radius: 5px;
  background-color: rgb(83, 14, 116);
  color: white;
  font-family: 'Grandstander', cursive;
}

.quiz-container {  
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5% 2px;
  grid-template-areas:
    ". ."
    ". .";
}

.question p {
  margin: 0 0 10px 0;
}

.feedback {
  display: none;
  margin-top: 10px;
  border-style: dashed;
  padding: 10px;
  text-align: center;
}

.feedback img {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  left: 43%;
}

.correct:checked ~ .correct-feedback {
  display: block;
  color: green;
}

.wrong:checked ~ .wrong-feedback {
  display: block;
  color: red;
}

/* ID styling */
#LogoVerticalText{
  position: relative;
  color: rgb(72, 255, 0);
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 10px;
  letter-spacing: 0px;
}

#LogoUpHorizontalText {
  color: rgb(0, 81, 255);
  position: absolute;
}

#A {
  position: relative;
  top: -34%;
  color: white;
}

#LogoBrain {
  position: relative;
  right: 40%;
  filter: drop-shadow(0px 0px 9px rgb(0, 0, 0));
}

#Geography {
  border-color: aqua;
}

#Geography > hr {
  border-color: aqua;
}

#Science {
  border-color: green;
}

#Science > hr {
  border-color: green;
}

#Literature {
  border-color: rgb(255, 81, 0);
}

#Literature > hr {
  border-color: rgb(255, 81, 0);
}

#Movies {
  border-color: rgb(238, 255, 4);
}

#Movies > hr {
  border-color: rgb(238, 255, 4);
}
