/* Author: Max Schafer, Course: DESN 340 */
/* Bird styling */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Grandstander:ital,wght@0,400;1,900&display=swap');

/* Element styling */

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/birdsGif.gif); /* https://www.youtube.com/watch?v=Np93N_oHT-8 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    animation: TintBackground 1s 2s forwards;
}

body {
    font-family: 'Exo 2', sans-serif;
}

/* Class styling */

.custom-button {
    text-decoration: none;
    grid-area: Button;
    opacity: 0.6;
    background-color: #333;
    background-image: url(../images/istockphoto-957416280-612x612.jpg); /* image obtained from https://www.istockphoto.com/vector/binoculars-vector-isolated-gm957416280-261430134 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    animation: Reveal 2s linear(0 0%, -0.01 86.49%, 1 100%);
    z-index: 100;
    margin-top: 10%;
    height: 250px;
    width: 250px;
    padding: 200px;
}

.custom-button:hover {
    transform: scale(1.4);
}

/* ID styling */

#MainPage {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#MainPage > span {
    color: white;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.5);
    border-radius: 50px;
    font-size: 50px;
    height: 55px;
    width: 500px;
}

#MainPage > a > span {
    display: block;
    color: white;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.5);
    border-radius: 50px;
    font-size: 50px;
    height: 55px;
    width: 380px;
    margin-left: -65px;
    margin-top: -122px;
}

/* Animations */

@keyframes Reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes TintBackground {
    from {
        filter: none;
    }
    to {
        filter: brightness(0.4); 
    }

}