# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Distribution folder

# Environment files
.env

# Editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store

# Debugging files
*.log
