/* Author: Max Schafer, Course: DESN 340 */
/* Choose your own adventure styling */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

/* Element styling */
body {
    background-color: black;
    background-color: #487346;
}

header {
    background-color: rgb(42, 42, 42);
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-family: 'VT323', monospace; 
    text-align: center;
}

body > section.container.mt-5.position-relative > div > img {
    filter: brightness(0.7);
}

/* ID styling */

#StartButton {
    font-family: 'VT323', monospace;
}

#RestartButton {
    font-family: 'VT323', monospace;
}

#LeftDoor {
    left: 32%;
    font-family: 'VT323', monospace;
}

#RightDoor {
    left: 70%;
    font-family: 'VT323', monospace;
}